.nav-pills{
  background-color: #9a75c1;
  font-size: 1.3em;
}

.thoughts-list{
  font-size: 1em;
  list-style: none;
}

.panel-info{
  width: 500px;
  border: 1px solid #9a75c1;
  padding: 25px;
  margin-top: 10px;
  border-radius: 5px;

}
