.nav-pills{
  background-color: #9a75c1;
  font-size: 1.3em;
}

#list-of-thoughts{
  font-size: 1em;
  list-style: none;
}

// .panel-heading {
//   margin: 10px;
// }
//
// .panel-body {
//   margin: 10px;
// }
